@model IEnumerable<LogisticCompany.Models.Order>

@{
    ViewData["Title"] = "Заказы";
}

<form method="get" action="/Order/OrdersByDate">
    <div class="mb-3">
        <label for="startDate" class="form-label">Дата от:</label>
        <input type="date" id="startDate" name="startDate" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="endDate" class="form-label">Дата до:</label>
        <input type="date" id="endDate" name="endDate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Фильтровать</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Получатель
        </th>
        <th>
            Курьер
        </th>
        <th>
            Транспорт
        </th>
        <th>
            Склады
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Sender)
            </th>
            <th>
                @item.OrderDate.ToShortDateString()
            </th>
            <th>
                @item.DeliveryDate.ToShortDateString()
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Price)
            </th>
            <th>
                @(item.Recepient != null ? item.Recepient.FIO : "Получатель неизвестен")
            </th>
            <th>
                @(item.Courier != null ? item.Courier.FIO : "Курьер не назначен")
            </th>
            <th>
                @(item.Transport != null ? item.Transport.TransportNumber : "Транспорт не назначен")
            </th>
            <th>
                @(item.Warehouses.Count() != 0 ? string.Join(", ", item.Warehouses.Select(x => x.Name)) : "Склады не определены")
            </th>
            <th>
                <a href="/Order/Edit?id=@item.Id">&#9998;</a>
            </th>
            <th>
                <a href="/Order/Delete?id=@item.Id">&#128465;</a>
            </th>
            <th>
                <a href="/Order/CorpDiscount?orderId=@item.Id">10&#37;</a>
            </th>
        </tr>
    }
</table>
<a href="/Order/Create" class="btn btn-success">Добавить заказ</a>
